@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Navbar*/
.navbar{
    padding: 4rem;
   
}

.navbar-nav li{
    padding-right: 20px;
}
.navbar-nav{
    margin-left: 800px;
}
.navbar .navbar-brand img{
    height: 60px;
    width: 160px;
    border-radius: 15px;
    margin-left: 15px;
}

.carousel-inner img{
    width: 100%;
    height: 650px;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1{
    font-size: 500%;
    text-shadow: 1px 1px 10px #000;

}
.carousel-caption h2{
    font-size: 200%;
    font-weight: 500;text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

/*Product*/

.serviceoffers{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
}
.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 0 rgba(0,0,0,0.3);
    border-radius: 5px;
    transform: 0.3s ease;
}
.box:hover {
    background: #324d53;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px !important;
}
.carousel-indicators li{
    background-color:#324d53 !important
     
}
.box a{
    position: relative;
}
.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
.box a:after{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 120%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box h2{
    color: #000;
    margin-bottom: 10px;
    font-weight: 400;
}
.box #mybtn{
    background-color: #5ca8b9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.container h1{
    margin-bottom: 5%;
}
/*Deal of the day*/
.header-extradiv{
  width: 100%;
  height: auto;
  margin: 100px 0;
  text-align: center;
}
.extra-div{
    background-color: white;
    border:medium none ;
    padding: 50px !important;
    border-radius: 3px;
    transition: 0.3s;
}
.extra-div h2{
    
    font-weight: bold;
    margin: 20px 0 15 px 0;
    word-spacing: 4px;
}
.extra-div img{
    height: 90%;
    width: 100%;
}
.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}

/***Contact Us**/
.ContactUs{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}
.ContactUs::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(330deg ,rgb(50, 71, 80) 55%,#fff 0%);
    z-index: -1;
}
.form-button button{
    border: 1px solid #000;
    background:transparent;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 32px;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
form:hover .form-button button{
    background: #fff;
    color:rgb(117, 148, 161) ;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
/*footer*/
.footersection{
    background-color: rgb(240, 237, 236);
    padding: 70px 0 20px 0;
    position: relative;
    color:rgb(50, 71, 80) ;
    width: 100%;
    height: auto;
}
.contact-item{
    display: inline-flex;
    vertical-align: middle;
}
.contact-item .text{
    padding-left: 10px;
}
.footersection h3{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
    text-shadow: 0 2px 5px rgb(50, 71, 80);
}

/***media queries***/
@media(max-width:768px){
    .nav-item{
        text-align: center !important;
    }
    .serviceoffers{
        height: auto;
        margin-top: 50px;
    }
    .card-second{
        transform: translateY(0px);
        margin: 30px,0;
    }
    .carousel-caption{
     text-align: center;
 }
 
 .carousel-caption{
     top: 45%;
 
 }
 
 .carousel-caption h1{
     font-size: 250%;
    }
 .carousel-caption h2{
     font-size: 50%;
     font-weight: 400;
     padding-bottom: 0.2rem;
 }
 .carousel-caption button{
   font-size: 95%;
   padding: 8px 14px;
 }
}